@using PR37.Data.ViewModels
@using PR37.Data.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <img src="~/img/icon.png"/>
        <input class="search" id="searchBar" type="text" placeholder="Поиск по сайту" onkeydown="handleKeydown(event)" />
        <img class="basket" src="~/img/ic-basket.png" />
    </div>
    <div>
        @RenderBody()
        <script>
            function handleKeydown(event) {
                var input = document.getElementById('searchBar').value;
                if (event.key === 'Enter')
                    window.location = $"/Items/FindItems?name={input}";
                
            }
        </script>
    </div>
</body>
</html>
